extends includes/layout/layout.pug 
block pages
  include includes/components/review-component.pug
  include includes/common/data-questions.pug
  -
    const navLinkRedirect = [
      { link: '#', title: 'Trang chủ' },
      { link: '#', title: 'Hướng dẫn' },
    ]

  include includes/components/section-nav-redirect.pug
  +navRedirect(navLinkRedirect)

  .user-layout 
    .container 
      .user-layout-wrapper 
        .tab-wrapper
          .tabs-group.d-flex
            .tab-item.active Thông báo
            .tab-item Sự kiện
            .tab-item Câu hỏi thường gặp
            .tab-item Thắc mắc

          .tabs-main-group 
            .tab-item.active 
              .user-layout-table
                table
                  thead
                    tr 
                      td.col-center STT
                      td.course-content Nội dung
                      td.col-center Ngày
                  tbody 
                    //- each item, index in [1,2,3,4,5,6,7,8,9,10]
                    //-   tr 
                    //-     td.col-center= `${index + 1}`
                    //-     td.course-content= `Nội dung thông báo ${index + 1}`
                    //-     td.col-center.nowrap 20/01/2021
                .table-placeholder.d-flex.align-items-center.justify-content-center.flex-column 
                  img(src="./assets/icons/icon-folder.svg", alt="")
                  |Hiện bạn không có thông báo


              include includes/components/pagination.pug

            .tab-item 
              .user-layout-table
                table
                  thead
                    tr 
                      td.col-center STT
                      td.course-content Nội dung
                      td.col-center Trạng thái
                  tbody 
                    each item, index in [1,2,3,4,5,6,7,8,9,10]
                      tr 
                        td.col-center= `${index + 1}`
                        td.course-content= `Nội dung Sự kiện ${index + 1}`
                        td.tags 
                          .tag-group.d-flex.flex-wrap.justify-content-center 
                            .tag-item(class=`${index % 2 === 0 ? 'active' : 'unactive'}`)= `${index % 2 === 0 ? 'Tiến hành' : 'Hết hạn'}`

              include includes/components/pagination.pug

            .tab-item
              .usually-question-wrapper 
                each item in dataQuestions
                  h3.usually-question-title= item.category
                  each quiz in item.data
                    .queston-item.expand-click
                      .question-quiz.d-flex.align-items-center.justify-content-between
                        .d-flex.align-items-center
                          img(src=`${quiz.icon}`, alt="").icon-image
                          p= quiz.title
                        img.icon-angle(src="./assets/icons/icon-angle-right.svg", alt="")
                      .question-content.expand-target
                        p= quiz.des

            .tab-item 
              .table-header-action.row
                .col-lg-4
                  .action-item.d-flex.align-items-center.search
                    input(type="text" placeholder="Tìm kiếm câu hỏi ID, Title")
                    button
                      img(src="./assets/icons/icon-search-white.svg", alt="")

              .user-layout-table
                table
                  thead
                    tr 
                      td.col-center STT
                      td.course-content Nội dung
                      td.col-center.nowrap Người đặt câu hỏi
                      td.col-center Ngày
                  tbody 
                    each item, index in [1,2,3,4,5,6,7,8,9,10]
                      tr 
                        td.col-center= `${index + 1}`
                        td.course-content= `Nội dung câu hỏi ${index + 1}`
                        td.col-center.nowrap= `User ${index + 1}`
                        td.col-center.nowrap 20/01/2021

              include includes/components/pagination.pug

              h3.layout-title Hãy để lại câu hỏi của bạn
              form(action="#").user-quick-question
                textarea(placeholder="Để lại câu hỏi của bạn tại đây")
                .d-flex.justify-content-end
                  button.btn.primary Gửi
