-
  const dataCategory = [
    {
      id: 'san-pham-noi-bat-menu',
      title: 'Sản phẩm nổi bật',
      subMenu: [],
      link: '#',
    },
    {
      id: 'san-pham-khuyen-mai-menu',
      title: 'Sản phẩm khuyến mãi',
      subMenu: [],
      link: '#',
    },
    {
      id: 'nguyen-lieu-theu-menu',
      title: 'Nguyên liệu thêu',
      subMenu: [1,2,3],
      link: '#',
    },
    {
      id: 'vai-cac-loai-menu',
      title: 'Vải các loại',
      subMenu: [1,2,3,4,5],
      link: '#',
    },
    {
      id: 'do-may-menu',
      title: 'Đồ may',
      subMenu: [1,2],
      link: '#',
    },
    {
      id: 'van-ban-phap-quy-menu',
      title: 'Văn bản pháp quy',
      subMenu: [1,2,3],
      link: '#',
    },
    {
      id: 'dung-cu-len-choc-menu',
      title: 'Dụng cụ len chọc',
      subMenu: [],
      link: '#',
    },
    {
      id: 'nguyen-lieu-khac-cao-su-menu',
      title: 'Nguyên liệu khắc cao su Rubber block printing',
      subMenu: [1,2,3,4,5,6],
      link: '#',
    },
    {
      id: 'nguyen-lieu-handmade-menu',
      title: 'Nguyên liệu handmade khác',
      subMenu: [1,2,3,4],
      link: '#',
    },
    {
      id: 'mau-rap-menu',
      title: 'Mẫu rập',
      subMenu: [],
      link: '#',
    },
  ]

  const dataMenu = [
    {
      link: '#',
      title: 'Trang chủ',
      child: [
        {
          id: 'nguyen-lieu-theu-2-menu',
          link: '#',
          title: 'Nguyên liệu thêu',
          child: [
            { link: '#', title: 'Chỉ thêu'},
            { link: '#', title: 'Khung thêu'},
            { link: '#', title: 'Kit tập thêu'},
            { link: '#', title: 'Phụ kiện thêu'},
            { link: '#', title: 'Bộ dụng cụ thêu đầy đủ'},
            { link: '#', title: 'Dụng cụ thê nỏi (punch needle)'},
          ],
        },
        {
          id: 'vai-cac-loai-2-menu',
          link: '#',
          title: 'Vải các loại',
          child: [
            { link: '#', title: 'Phụ kiện may'},
          ],
        },
        {
          id: 'dung-cu-2-menu',
          link: '#',
          title: 'Dụng cụ len chọc (Needle Felting)',
          child: [],
        },
      ],
    },
    {
      link: '#',
      title: 'Giới thiệu',
      child: [],
    },
    {
      link: '#',
      title: 'Kiến thức Handmade',
      child: [
        {
          id: 'nguyen-lieu-theu-3-menu',
          link: '#',
          title: 'Nguyên liệu thêu',
          child: [
            { link: '#', title: 'Chỉ thêu'},
            { link: '#', title: 'Khung thêu'},
            { link: '#', title: 'Kit tập thêu'},
            { link: '#', title: 'Phụ kiện thêu'},
            { link: '#', title: 'Bộ dụng cụ thêu đầy đủ'},
            { link: '#', title: 'Dụng cụ thê nỏi (punch needle)'},
          ],
        },
        {
          id: 'vai-cac-loai-3-menu',
          link: '#',
          title: 'Vải các loại',
          child: [
            { link: '#', title: 'Phụ kiện may'},
          ],
        },
        {
          id: 'dung-cu-3-menu',
          link: '#',
          title: 'Dụng cụ len chọc (Needle Felting)',
          child: [],
        },
      ],
    },
    {
      link: '#',
      title: 'Liên hệ',
      child: [],
    },
    {
      link: '#',
      title: 'Khuyến mãi hot',
      child: [],
    },
  ]

.menu-component
  .container
    .menu-component-wrap
      .row 
        .col-md-3.col-lg-3.no-padding
          .menu-category.d-flex.align-items-center.active
            .category-btn.d-flex.align-items-center
              img(src="./assets/icons/icon-bars.svg", alt="")
              |DANH MỤC SẢN PHẨM
              img(src="./assets/icons/icon-angle-down.svg", alt="")
            ul.dropdown-menu(role="menu")
              each item in dataCategory
                li(data-submenu-id=`${item.id}`)
                  a(href=`${item.link}`).d-flex.align-items-center.category-link
                    .category-icon
                      img(src="./assets/icons/icon-angle-right.svg", alt="")
                    span= item.title
                    if item.subMenu.length !== 0
                      .category-arrow
                        img(src="./assets/icons/icon-caret-right.svg", alt="")

                  .popover(id=`${item.id}`)
                    .d-flex.flex-wrap
                      each subMenu, subMenuIndex in item.subMenu
                        .col-lg-4
                          .submenu-item
                            h2.title= `Chỉ thêu len ${subMenuIndex + 1}`
                            ul.submenu-list
                              each item in [1,2,3,4,5,6]
                                li.list-item
                                  a(href="#").list-link.d-flex.align-items-center
                                    |Chỉ thêu len

              #categoryShowAll.category-show-all.d-flex.align-items-center
                img(src="./assets/icons/icon-angle-right.svg", alt="")
                |Xem thêm ...

        .col-md-9.col-lg-9.no-padding
          .header-menu-wrapper.d-flex 
            each item in dataMenu
              .header-menu-item.d-flex.align-items-center 
                a(href=`${item.link}`).menu-link= item.title
                if item.child.length !== 0
                  <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="284.929px" height="284.929px" viewBox="0 0 284.929 284.929" style="enable-background:new 0 0 284.929 284.929;" xml:space="preserve"> <path d="M282.082,76.511l-14.274-14.273c-1.902-1.906-4.093-2.856-6.57-2.856c-2.471,0-4.661,0.95-6.563,2.856L142.466,174.441 L30.262,62.241c-1.903-1.906-4.093-2.856-6.567-2.856c-2.475,0-4.665,0.95-6.567,2.856L2.856,76.515C0.95,78.417,0,80.607,0,83.082 c0,2.473,0.953,4.663,2.856,6.565l133.043,133.046c1.902,1.903,4.093,2.854,6.567,2.854s4.661-0.951,6.562-2.854L282.082,89.647 c1.902-1.903,2.847-4.093,2.847-6.565C284.929,80.607,283.984,78.417,282.082,76.511z"/> </svg>
                  ul.sub-menu-wrapper(role="menu")
                    each sub in item.child
                      li.header-menu-item.d-flex.align-items-center(data-submenu-id=`${sub.id}`)
                        a(href=`${sub.link}`).menu-link= sub.title
                        if sub.child.length !== 0
                          <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="284.935px" height="284.936px" viewBox="0 0 284.935 284.936" style="enable-background:new 0 0 284.935 284.936;" xml:space="preserve"> <path d="M222.701,135.9L89.652,2.857C87.748,0.955,85.557,0,83.084,0c-2.474,0-4.664,0.955-6.567,2.857L62.244,17.133 c-1.906,1.903-2.855,4.089-2.855,6.567c0,2.478,0.949,4.664,2.855,6.567l112.204,112.204L62.244,254.677 c-1.906,1.903-2.855,4.093-2.855,6.564c0,2.477,0.949,4.667,2.855,6.57l14.274,14.271c1.903,1.905,4.093,2.854,6.567,2.854 c2.473,0,4.663-0.951,6.567-2.854l133.042-133.044c1.902-1.902,2.854-4.093,2.854-6.567S224.603,137.807,222.701,135.9z"/> </svg>
                          .popover(id=`${sub.id}`)
                            each sub2 in sub.child
                              .header-menu-item.d-flex.align-items-center 
                                a(href=`${sub2.link}`).menu-link= sub2.title



      

//- .menu-component-mobile
//-   .container
//-     .menu-component-wrap
//-       form(action="#" method="method").menu-search.d-flex.align-items-center
//-         button(type="submit").search-submit
//-           <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M19.1667 17.4077L14.4145 12.6555C16.6703 9.48505 16.1202 5.11482 13.1489 2.60243C10.1776 0.0900393 5.7767 0.273859 3.02528 3.02528C0.273859 5.7767 0.0900393 10.1776 2.60243 13.1489C5.11482 16.1202 9.48505 16.6703 12.6555 14.4145L17.4077 19.1667L19.1667 17.4077ZM2.53766 8.34012C2.53766 5.13551 5.13551 2.53765 8.34013 2.53765C11.5447 2.53765 14.1426 5.13551 14.1426 8.34012C14.1426 11.5447 11.5447 14.1426 8.34013 14.1426C5.13703 14.1389 2.54131 11.5432 2.53766 8.34012Z" fill="white"/></svg>
//-         input(type="text" placeholder="Tìm sách, tác giả, sản phẩm mong muốn...").search-input

//- .menu-list-mobile
//-   .menu-list-overlay
//-   ul.menu-list-wrap
//-     each item, index in dataCategory
//-       li(data-submenu-id=`${item.id}`)
//-         a.d-flex.align-items-center.category-link(href=`${item.link}` class=`${index === dataCategory.length - 1 ? 'border-bottom-none' : ''}`)
//-           .category-icon
//-             if item.id === 'giao-trinh-menu'
//-               <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M19.9375 2.0625C17.0324 2.07496 14.8728 2.475 13.31 3.16637C12.1438 3.68199 11.6875 4.07215 11.6875 5.39387V19.25C13.4737 17.6387 15.0588 17.1875 21.3125 17.1875V2.0625H19.9375Z" fill="#D4B26B"/><path d="M2.0625 2.0625C4.96762 2.07496 7.12723 2.475 8.69 3.16637C9.85617 3.68199 10.3125 4.07215 10.3125 5.39387V19.25C8.52629 17.6387 6.94117 17.1875 0.6875 17.1875V2.0625H2.0625Z" fill="#D4B26B"/></svg>
//-             if item.id === 'tieu-chuan-quy-chuan-menu'
//-               <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0)"><path d="M4.375 0H13.125C13.6793 0.000457233 14.2177 0.184781 14.656 0.524089C15.0943 0.863397 15.4076 1.33852 15.5469 1.875H6.64062C5.87398 1.875 5.13874 2.17955 4.59664 2.72164C4.05455 3.26374 3.75 3.99898 3.75 4.76563V16.6754L2.89062 17.3629C2.7841 17.4482 2.65259 17.4962 2.51618 17.4998C2.37976 17.5033 2.24595 17.4621 2.13516 17.3824C2.05329 17.322 1.987 17.2429 1.94176 17.1517C1.89652 17.0606 1.87364 16.96 1.875 16.8582V2.5C1.875 1.83696 2.13839 1.20107 2.60723 0.732233C3.07607 0.263392 3.71196 0 4.375 0V0Z" fill="#91909A"/><path d="M7.49993 3.125H15.6249C16.288 3.125 16.9239 3.38839 17.3927 3.85723C17.8615 4.32607 18.1249 4.96196 18.1249 5.625V19.3602C18.1265 19.4615 18.1039 19.5617 18.0591 19.6526C18.0142 19.7435 17.9484 19.8224 17.8671 19.8828C17.7541 19.9649 17.6169 20.0067 17.4774 20.0017C17.3378 19.9967 17.204 19.945 17.0972 19.8551L11.5624 15.1922L6.02766 19.8531C5.92157 19.9425 5.78875 19.9941 5.65013 19.9996C5.51152 20.0052 5.37498 19.9645 5.26204 19.884C5.17968 19.8237 5.11293 19.7446 5.06734 19.6533C5.02175 19.5619 4.99864 19.461 4.99993 19.359V5.625C4.99993 4.96196 5.26332 4.32607 5.73216 3.85723C6.201 3.38839 6.83689 3.125 7.49993 3.125Z" fill="#91909A"/></g><defs><clipPath id="clip0"><rect width="20" height="20" fill="white" transform="matrix(-1 0 0 1 20 0)"/></clipPath></defs></svg>
//-             if item.id === 'dinh-muc-don-gia-menu'
//-               <svg width="21" height="20" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M4 12.8667C4 13.4325 4.21071 13.9751 4.58579 14.3752C4.96086 14.7752 5.46957 15 6 15H18C18.5304 15 19.0391 14.7752 19.4142 14.3752C19.7893 13.9751 20 13.4325 20 12.8667V7H4V12.8667ZM6.35714 9.97143C6.35714 9.66832 6.47003 9.37763 6.67096 9.16331C6.87189 8.94898 7.14441 8.82857 7.42857 8.82857H9.14286C9.42702 8.82857 9.69954 8.94898 9.90047 9.16331C10.1014 9.37763 10.2143 9.66832 10.2143 9.97143V10.7333C10.2143 11.0364 10.1014 11.3271 9.90047 11.5415C9.69954 11.7558 9.42702 11.8762 9.14286 11.8762H7.42857C7.14441 11.8762 6.87189 11.7558 6.67096 11.5415C6.47003 11.3271 6.35714 11.0364 6.35714 10.7333V9.97143Z" fill="#91909A"/><path d="M18 2H6C5.46957 2 4.96086 2.21585 4.58579 2.60007C4.21071 2.98429 4 3.50541 4 4.04878V5H20V4.04878C20 3.50541 19.7893 2.98429 19.4142 2.60007C19.0391 2.21585 18.5304 2 18 2Z" fill="#91909A"/></svg>
//-             if item.id === 'cap-thoat-nuoc-menu'
//-               <svg width="21" height="20" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M16.6372 4.36284C15.8982 3.61656 15.0191 3.02365 14.0503 2.61816C13.0815 2.21268 12.0421 2.00261 10.9919 2.00002C9.94164 1.99744 8.90125 2.20239 7.93047 2.6031C6.95969 3.00381 6.07765 3.59239 5.33502 4.33502C4.59239 5.07765 4.00381 5.95969 3.6031 6.93047C3.20239 7.90125 2.99744 8.94164 3.00002 9.99187C3.00261 11.0421 3.21268 12.0815 3.61817 13.0503C4.02365 14.0191 4.61656 14.8982 5.36284 15.6372C6.1018 16.3834 6.98093 16.9763 7.94973 17.3818C8.91853 17.7873 9.9579 17.9974 11.0081 18C12.0584 18.0026 13.0987 17.7976 14.0695 17.3969C15.0403 16.9962 15.9224 16.4076 16.665 15.665C17.4076 14.9224 17.9962 14.0403 18.3969 13.0695C18.7976 12.0987 19.0026 11.0584 19 10.0081C18.9974 8.9579 18.7873 7.91853 18.3818 6.94973C17.9763 5.98093 17.3834 5.1018 16.6372 4.36284ZM4.16664 10C4.16639 9.39522 4.24657 8.79309 4.4051 8.20945C4.66633 8.77178 5.04573 9.25758 5.30376 9.8345C5.63724 10.5762 6.53269 10.3705 6.9281 11.0204C7.27902 11.5973 6.90426 12.3269 7.16691 12.9305C7.35768 13.3686 7.80754 13.4644 8.11789 13.7847C8.435 14.1078 8.42824 14.5506 8.47664 14.972C8.53126 15.4671 8.61985 15.9578 8.74179 16.4408C8.74179 16.4444 8.74179 16.4483 8.74464 16.4518C6.08141 15.5165 4.16664 12.9778 4.16664 10ZM11 16.8334C10.6184 16.8332 10.2374 16.8013 9.86111 16.738C9.86502 16.6415 9.8668 16.5515 9.87641 16.4888C9.9629 15.923 10.2462 15.3695 10.6284 14.946C11.0061 14.5282 11.5235 14.2456 11.8424 13.7715C12.1549 13.3088 12.2485 12.686 12.1197 12.1454C11.93 11.3467 10.8448 11.0802 10.2597 10.647C9.92339 10.3979 9.62407 10.0128 9.1824 9.98149C8.97882 9.96726 8.80834 10.011 8.60655 9.95907C8.42148 9.91102 8.27627 9.81137 8.0791 9.83735C7.71073 9.88575 7.47833 10.2794 7.08256 10.226C6.70709 10.1758 6.32022 9.73628 6.2348 9.37859C6.12518 8.91876 6.48892 8.76964 6.87863 8.72871C7.04128 8.71163 7.22386 8.69312 7.3801 8.75291C7.58581 8.82908 7.68297 9.03052 7.86769 9.13231C8.21398 9.32236 8.2841 9.01877 8.23107 8.71127C8.1517 8.25073 8.05917 8.06317 8.46988 7.74606C8.7546 7.52753 8.99804 7.36951 8.95248 6.97695C8.92544 6.74633 8.79909 6.64205 8.91689 6.41249C9.00623 6.23774 9.25144 6.08007 9.41124 5.97579C9.82374 5.70673 11.1783 5.72666 10.6249 4.97357C10.4622 4.75255 10.1622 4.3575 9.87748 4.3034C9.52157 4.23613 9.36355 4.63332 9.11549 4.80843C8.85924 4.98958 8.36026 5.1953 8.10365 4.9152C7.75843 4.5383 8.3325 4.4148 8.45956 4.15143C8.51828 4.02864 8.45956 3.85816 8.36062 3.69765C8.48898 3.64355 8.61948 3.59337 8.75211 3.5471C8.83523 3.6085 8.93384 3.64547 9.03683 3.65387C9.27493 3.66953 9.49951 3.5407 9.70736 3.70299C9.93798 3.88094 10.1042 4.10587 10.4103 4.16139C10.7064 4.21514 11.0199 4.04252 11.0932 3.73929C11.1377 3.55493 11.0932 3.36025 11.0505 3.16985C12.3816 3.1775 13.6811 3.57614 14.7875 4.31621C14.7164 4.28916 14.6313 4.29237 14.5263 4.34113C14.3103 4.44149 14.0042 4.69703 13.9789 4.95043C13.9501 5.238 14.3743 5.27858 14.5758 5.27858C14.8783 5.27858 15.1847 5.14333 15.0872 4.79384C15.0449 4.64222 14.9872 4.48456 14.8943 4.38917C15.1176 4.54412 15.3315 4.71216 15.5349 4.89242C15.5317 4.89562 15.5285 4.89847 15.5253 4.90203C15.3203 5.11557 15.0822 5.28463 14.942 5.54444C14.8431 5.72737 14.7317 5.81421 14.5313 5.86155C14.421 5.88753 14.295 5.89714 14.2024 5.97117C13.9448 6.17403 14.0914 6.66162 14.3355 6.8079C14.6441 6.99261 15.1018 6.90577 15.3346 6.64205C15.5164 6.43562 15.6236 6.07723 15.9506 6.07758C16.0946 6.07728 16.233 6.13366 16.3357 6.23454C16.471 6.37476 16.4443 6.50573 16.4731 6.68084C16.524 6.9919 16.7984 6.8232 16.9653 6.66625C17.087 6.88279 17.1968 7.10579 17.2942 7.33428C17.1105 7.59872 16.9646 7.887 16.5229 7.57878C16.2585 7.39407 16.0958 7.12607 15.7638 7.04279C15.4737 6.97161 15.1765 7.04564 14.89 7.09511C14.5644 7.1517 14.1782 7.17661 13.9312 7.42325C13.6924 7.661 13.5661 7.97918 13.312 8.21799C12.8204 8.68066 12.613 9.18569 12.9311 9.83984C13.2372 10.4687 13.8775 10.81 14.5683 10.7652C15.247 10.72 15.952 10.3264 15.9325 11.3126C15.9254 11.6617 15.9983 11.9034 16.1054 12.2276C16.2047 12.5266 16.198 12.8163 16.2208 13.1248C16.2424 13.4862 16.2989 13.8446 16.3895 14.195C15.7515 15.0164 14.9343 15.6811 14.0003 16.1383C13.0662 16.5956 12.04 16.8333 11 16.8334Z" fill="#91909A"/></svg>
//-             if item.id === 'chuyen-nganh-xay-dung-menu'
//-               <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M15.2857 6.71429H11.2857V2.71429C11.2857 2.25963 11.1051 1.82359 10.7836 1.5021C10.4621 1.18061 10.0261 1 9.57143 1H2.71429C2.25963 1 1.82359 1.18061 1.5021 1.5021C1.18061 1.82359 1 2.25963 1 2.71429V17.5714C1 17.723 1.0602 17.8683 1.16737 17.9755C1.27453 18.0827 1.41988 18.1429 1.57143 18.1429H5.28571C5.36149 18.1429 5.43416 18.1128 5.48775 18.0592C5.54133 18.0056 5.57143 17.9329 5.57143 17.8571V15.3018C5.57143 14.9943 5.80786 14.7304 6.11536 14.715C6.19262 14.7113 6.26983 14.7233 6.34232 14.7503C6.41481 14.7773 6.48106 14.8187 6.53706 14.8721C6.59306 14.9254 6.63764 14.9896 6.6681 15.0607C6.69857 15.1318 6.71428 15.2084 6.71429 15.2857V17.8571C6.71429 17.9329 6.74439 18.0056 6.79797 18.0592C6.85155 18.1128 6.92422 18.1429 7 18.1429H16.4286C16.5801 18.1429 16.7255 18.0827 16.8326 17.9755C16.9398 17.8683 17 17.723 17 17.5714V8.42857C17 7.97391 16.8194 7.53788 16.4979 7.21639C16.1764 6.8949 15.7404 6.71429 15.2857 6.71429ZM3.36 15.8525C3.24165 15.868 3.12143 15.846 3.0162 15.7897C2.91098 15.7333 2.82603 15.6455 2.77329 15.5384C2.72055 15.4313 2.70265 15.3104 2.72212 15.1927C2.74159 15.0749 2.79744 14.9662 2.88184 14.8818C2.96623 14.7974 3.07494 14.7416 3.19269 14.7221C3.31045 14.7027 3.43135 14.7205 3.53841 14.7733C3.64548 14.826 3.73335 14.911 3.78968 15.0162C3.84601 15.1214 3.86798 15.2417 3.8525 15.36C3.83617 15.4849 3.77902 15.6009 3.68996 15.69C3.60089 15.779 3.48489 15.8362 3.36 15.8525ZM3.36 12.9954C3.24165 13.0108 3.12143 12.9889 3.0162 12.9325C2.91098 12.8762 2.82603 12.7883 2.77329 12.6813C2.72055 12.5742 2.70265 12.4533 2.72212 12.3356C2.74159 12.2178 2.79744 12.1091 2.88184 12.0247C2.96623 11.9403 3.07494 11.8844 3.19269 11.865C3.31045 11.8455 3.43135 11.8634 3.53841 11.9161C3.64548 11.9689 3.73335 12.0538 3.78968 12.1591C3.84601 12.2643 3.86798 12.3845 3.8525 12.5029C3.83617 12.6278 3.77902 12.7437 3.68996 12.8328C3.60089 12.9219 3.48489 12.979 3.36 12.9954ZM3.36 10.1382C3.24165 10.1537 3.12143 10.1317 3.0162 10.0754C2.91098 10.0191 2.82603 9.9312 2.77329 9.82413C2.72055 9.71706 2.70265 9.59616 2.72212 9.47841C2.74159 9.36065 2.79744 9.25195 2.88184 9.16755C2.96623 9.08315 3.07494 9.0273 3.19269 9.00783C3.31045 8.98837 3.43135 9.00626 3.53841 9.059C3.64548 9.11175 3.73335 9.19669 3.78968 9.30192C3.84601 9.40714 3.86798 9.52737 3.8525 9.64571C3.83617 9.77061 3.77902 9.88661 3.68996 9.97567C3.60089 10.0647 3.48489 10.1219 3.36 10.1382ZM3.36 7.28107C3.24165 7.29655 3.12143 7.27458 3.0162 7.21825C2.91098 7.16192 2.82603 7.07405 2.77329 6.96699C2.72055 6.85992 2.70265 6.73902 2.72212 6.62126C2.74159 6.50351 2.79744 6.3948 2.88184 6.31041C2.96623 6.22601 3.07494 6.17016 3.19269 6.15069C3.31045 6.13122 3.43135 6.14912 3.53841 6.20186C3.64548 6.2546 3.73335 6.33955 3.78968 6.44478C3.84601 6.55 3.86798 6.67022 3.8525 6.78857C3.83617 6.91347 3.77902 7.02946 3.68996 7.11853C3.60089 7.20759 3.48489 7.26474 3.36 7.28107ZM3.36 4.42393C3.24165 4.43941 3.12143 4.41744 3.0162 4.36111C2.91098 4.30478 2.82603 4.21691 2.77329 4.10984C2.72055 4.00277 2.70265 3.88188 2.72212 3.76412C2.74159 3.64637 2.79744 3.53766 2.88184 3.45326C2.96623 3.36887 3.07494 3.31302 3.19269 3.29355C3.31045 3.27408 3.43135 3.29198 3.53841 3.34472C3.64548 3.39746 3.73335 3.48241 3.78968 3.58763C3.84601 3.69286 3.86798 3.81308 3.8525 3.93143C3.83617 4.05632 3.77902 4.17232 3.68996 4.26139C3.60089 4.35045 3.48489 4.40759 3.36 4.42393ZM6.21714 12.9954C6.0988 13.0108 5.97857 12.9889 5.87335 12.9325C5.76812 12.8762 5.68318 12.7883 5.63043 12.6813C5.57769 12.5742 5.5598 12.4533 5.57926 12.3356C5.59873 12.2178 5.65458 12.1091 5.73898 12.0247C5.82338 11.9403 5.93208 11.8844 6.04984 11.865C6.16759 11.8455 6.28849 11.8634 6.39556 11.9161C6.50263 11.9689 6.59049 12.0538 6.64682 12.1591C6.70315 12.2643 6.72512 12.3845 6.70964 12.5029C6.69331 12.6278 6.63617 12.7437 6.5471 12.8328C6.45803 12.9219 6.34204 12.979 6.21714 12.9954ZM6.21714 10.1382C6.0988 10.1537 5.97857 10.1317 5.87335 10.0754C5.76812 10.0191 5.68318 9.9312 5.63043 9.82413C5.57769 9.71706 5.5598 9.59616 5.57926 9.47841C5.59873 9.36065 5.65458 9.25195 5.73898 9.16755C5.82338 9.08315 5.93208 9.0273 6.04984 9.00783C6.16759 8.98837 6.28849 9.00626 6.39556 9.059C6.50263 9.11175 6.59049 9.19669 6.64682 9.30192C6.70315 9.40714 6.72512 9.52737 6.70964 9.64571C6.69331 9.77061 6.63617 9.88661 6.5471 9.97567C6.45803 10.0647 6.34204 10.1219 6.21714 10.1382ZM6.21714 7.28107C6.0988 7.29655 5.97857 7.27458 5.87335 7.21825C5.76812 7.16192 5.68318 7.07405 5.63043 6.96699C5.57769 6.85992 5.5598 6.73902 5.57926 6.62126C5.59873 6.50351 5.65458 6.3948 5.73898 6.31041C5.82338 6.22601 5.93208 6.17016 6.04984 6.15069C6.16759 6.13122 6.28849 6.14912 6.39556 6.20186C6.50263 6.2546 6.59049 6.33955 6.64682 6.44478C6.70315 6.55 6.72512 6.67022 6.70964 6.78857C6.69331 6.91347 6.63617 7.02946 6.5471 7.11853C6.45803 7.20759 6.34204 7.26474 6.21714 7.28107ZM6.21714 4.42393C6.0988 4.43941 5.97857 4.41744 5.87335 4.36111C5.76812 4.30478 5.68318 4.21691 5.63043 4.10984C5.57769 4.00277 5.5598 3.88188 5.57926 3.76412C5.59873 3.64637 5.65458 3.53766 5.73898 3.45326C5.82338 3.36887 5.93208 3.31302 6.04984 3.29355C6.16759 3.27408 6.28849 3.29198 6.39556 3.34472C6.50263 3.39746 6.59049 3.48241 6.64682 3.58763C6.70315 3.69286 6.72512 3.81308 6.70964 3.93143C6.69331 4.05632 6.63617 4.17232 6.5471 4.26139C6.45803 4.35045 6.34204 4.40759 6.21714 4.42393ZM9.07429 15.8525C8.95594 15.868 8.83572 15.846 8.73049 15.7897C8.62527 15.7333 8.54032 15.6455 8.48758 15.5384C8.43483 15.4313 8.41694 15.3104 8.43641 15.1927C8.45587 15.0749 8.51173 14.9662 8.59612 14.8818C8.68052 14.7974 8.78922 14.7416 8.90698 14.7221C9.02474 14.7027 9.14563 14.7205 9.2527 14.7733C9.35977 14.826 9.44763 14.911 9.50397 15.0162C9.5603 15.1214 9.58226 15.2417 9.56679 15.36C9.55045 15.4849 9.49331 15.6009 9.40424 15.69C9.31518 15.779 9.19918 15.8362 9.07429 15.8525ZM9.07429 12.9954C8.95594 13.0108 8.83572 12.9889 8.73049 12.9325C8.62527 12.8762 8.54032 12.7883 8.48758 12.6813C8.43483 12.5742 8.41694 12.4533 8.43641 12.3356C8.45587 12.2178 8.51173 12.1091 8.59612 12.0247C8.68052 11.9403 8.78922 11.8844 8.90698 11.865C9.02474 11.8455 9.14563 11.8634 9.2527 11.9161C9.35977 11.9689 9.44763 12.0538 9.50397 12.1591C9.5603 12.2643 9.58226 12.3845 9.56679 12.5029C9.55045 12.6278 9.49331 12.7437 9.40424 12.8328C9.31518 12.9219 9.19918 12.979 9.07429 12.9954ZM9.07429 10.1382C8.95594 10.1537 8.83572 10.1317 8.73049 10.0754C8.62527 10.0191 8.54032 9.9312 8.48758 9.82413C8.43483 9.71706 8.41694 9.59616 8.43641 9.47841C8.45587 9.36065 8.51173 9.25195 8.59612 9.16755C8.68052 9.08315 8.78922 9.0273 8.90698 9.00783C9.02474 8.98837 9.14563 9.00626 9.2527 9.059C9.35977 9.11175 9.44763 9.19669 9.50397 9.30192C9.5603 9.40714 9.58226 9.52737 9.56679 9.64571C9.55045 9.77061 9.49331 9.88661 9.40424 9.97567C9.31518 10.0647 9.19918 10.1219 9.07429 10.1382ZM9.07429 7.28107C8.95594 7.29655 8.83572 7.27458 8.73049 7.21825C8.62527 7.16192 8.54032 7.07405 8.48758 6.96699C8.43483 6.85992 8.41694 6.73902 8.43641 6.62126C8.45587 6.50351 8.51173 6.3948 8.59612 6.31041C8.68052 6.22601 8.78922 6.17016 8.90698 6.15069C9.02474 6.13122 9.14563 6.14912 9.2527 6.20186C9.35977 6.2546 9.44763 6.33955 9.50397 6.44478C9.5603 6.55 9.58226 6.67022 9.56679 6.78857C9.55045 6.91347 9.49331 7.02946 9.40424 7.11853C9.31518 7.20759 9.19918 7.26474 9.07429 7.28107ZM9.07429 4.42393C8.95594 4.43941 8.83572 4.41744 8.73049 4.36111C8.62527 4.30478 8.54032 4.21691 8.48758 4.10984C8.43483 4.00277 8.41694 3.88188 8.43641 3.76412C8.45587 3.64637 8.51173 3.53766 8.59612 3.45326C8.68052 3.36887 8.78922 3.31302 8.90698 3.29355C9.02474 3.27408 9.14563 3.29198 9.2527 3.34472C9.35977 3.39746 9.44763 3.48241 9.50397 3.58763C9.5603 3.69286 9.58226 3.81308 9.56679 3.93143C9.55045 4.05632 9.49331 4.17232 9.40424 4.26139C9.31518 4.35045 9.19918 4.40759 9.07429 4.42393ZM15.7143 17H11.2857V7.85714H15.2857C15.4373 7.85714 15.5826 7.91735 15.6898 8.02451C15.7969 8.13167 15.8571 8.27702 15.8571 8.42857V16.8571C15.8571 16.895 15.8421 16.9314 15.8153 16.9582C15.7885 16.9849 15.7522 17 15.7143 17Z" fill="#91909A"/><path d="M14.143 14.7142C14.0299 14.7142 13.9195 14.7477 13.8255 14.8105C13.7315 14.8733 13.6583 14.9626 13.615 15.067C13.5718 15.1714 13.5605 15.2863 13.5825 15.3971C13.6046 15.508 13.659 15.6098 13.7389 15.6897C13.8188 15.7696 13.9206 15.8241 14.0315 15.8461C14.1423 15.8682 14.2572 15.8568 14.3616 15.8136C14.4661 15.7703 14.5553 15.6971 14.6181 15.6031C14.6809 15.5092 14.7144 15.3987 14.7144 15.2857C14.7144 15.1341 14.6542 14.9888 14.547 14.8816C14.4399 14.7744 14.2945 14.7142 14.143 14.7142Z" fill="#91909A"/><path d="M14.143 11.8572C14.0299 11.8572 13.9195 11.8907 13.8255 11.9535C13.7315 12.0163 13.6583 12.1055 13.615 12.2099C13.5718 12.3143 13.5605 12.4292 13.5825 12.5401C13.6046 12.6509 13.659 12.7528 13.7389 12.8327C13.8188 12.9126 13.9206 12.967 14.0315 12.9891C14.1423 13.0111 14.2572 12.9998 14.3616 12.9565C14.4661 12.9133 14.5553 12.84 14.6181 12.7461C14.6809 12.6521 14.7144 12.5416 14.7144 12.4286C14.7144 12.2771 14.6542 12.1317 14.547 12.0245C14.4399 11.9174 14.2945 11.8572 14.143 11.8572Z" fill="#91909A"/><path d="M14.143 9C14.0299 9 13.9195 9.03351 13.8255 9.0963C13.7315 9.15909 13.6583 9.24834 13.615 9.35275C13.5718 9.45717 13.5605 9.57206 13.5825 9.68291C13.6046 9.79376 13.659 9.89557 13.7389 9.97549C13.8188 10.0554 13.9206 10.1098 14.0315 10.1319C14.1423 10.1539 14.2572 10.1426 14.3616 10.0994C14.4661 10.0561 14.5553 9.98287 14.6181 9.8889C14.6809 9.79493 14.7144 9.68445 14.7144 9.57143C14.7144 9.41988 14.6542 9.27453 14.547 9.16737C14.4399 9.0602 14.2945 9 14.143 9Z" fill="#91909A"/><path d="M11.8571 14.7142C11.7441 14.7142 11.6336 14.7477 11.5396 14.8105C11.4456 14.8733 11.3724 14.9626 11.3291 15.067C11.2859 15.1714 11.2746 15.2863 11.2966 15.3971C11.3187 15.508 11.3731 15.6098 11.453 15.6897C11.5329 15.7696 11.6347 15.8241 11.7456 15.8461C11.8564 15.8682 11.9713 15.8568 12.0757 15.8136C12.1802 15.7703 12.2694 15.6971 12.3322 15.6031C12.395 15.5092 12.4285 15.3987 12.4285 15.2857C12.4285 15.1341 12.3683 14.9888 12.2611 14.8816C12.154 14.7744 12.0086 14.7142 11.8571 14.7142Z" fill="#91909A"/><path d="M11.8571 11.8572C11.7441 11.8572 11.6336 11.8907 11.5396 11.9535C11.4456 12.0163 11.3724 12.1055 11.3291 12.2099C11.2859 12.3143 11.2746 12.4292 11.2966 12.5401C11.3187 12.6509 11.3731 12.7528 11.453 12.8327C11.5329 12.9126 11.6347 12.967 11.7456 12.9891C11.8564 13.0111 11.9713 12.9998 12.0757 12.9565C12.1802 12.9133 12.2694 12.84 12.3322 12.7461C12.395 12.6521 12.4285 12.5416 12.4285 12.4286C12.4285 12.2771 12.3683 12.1317 12.2611 12.0245C12.154 11.9174 12.0086 11.8572 11.8571 11.8572Z" fill="#91909A"/><path d="M11.8571 9C11.7441 9 11.6336 9.03351 11.5396 9.0963C11.4456 9.15909 11.3724 9.24834 11.3291 9.35275C11.2859 9.45717 11.2746 9.57206 11.2966 9.68291C11.3187 9.79376 11.3731 9.89557 11.453 9.97549C11.5329 10.0554 11.6347 10.1098 11.7456 10.1319C11.8564 10.1539 11.9713 10.1426 12.0757 10.0994C12.1802 10.0561 12.2694 9.98287 12.3322 9.8889C12.395 9.79493 12.4285 9.68445 12.4285 9.57143C12.4285 9.41988 12.3683 9.27453 12.2611 9.16737C12.154 9.0602 12.0086 9 11.8571 9Z" fill="#91909A"/></svg>
//-             if item.id === 'van-ban-phap-quy-menu'
//-               <svg width="16" height="18" viewBox="0 0 16 18" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8 9C7.48192 9 6.96385 8.89659 6.56 8.68976L0.867692 5.76952C0.607308 5.63625 0 5.24639 0 4.51039C0 3.77438 0.607308 3.38538 0.868462 3.25038L6.61 0.305048C7.40115 -0.101683 8.595 -0.101683 9.38654 0.305048L15.1315 3.25038C15.3927 3.38409 16 3.77394 16 4.51039C16 5.24683 15.3927 5.63539 15.1315 5.76995L9.43923 8.68976C9.03615 8.89659 8.51808 9 8 9Z" fill="#91909A"/><path d="M15.1292 7.3405L14.5488 7L13.0577 7.887L9.44231 10.037C9.03846 10.277 8.51923 10.3965 8.00231 10.3965C7.48538 10.3965 6.96654 10.277 6.56308 10.037L2.945 7.887L1.45346 7L0.868077 7.342C0.607308 7.4965 0 7.95 0 8.8C0 9.65 0.607308 10.104 0.867692 10.2585L6.56 13.64C6.96154 13.88 7.48038 14 8 14C8.51962 14 9.03615 13.88 9.44 13.6405L15.1273 10.26C15.3892 10.1055 16 9.6545 16 8.8C16 7.9455 15.3935 7.4965 15.1292 7.3405Z" fill="#91909A"/><path d="M15.1292 12.2914L14.5488 12L13.0577 12.7599L9.44231 14.6006C9.03846 14.8054 8.51923 14.9083 8.00231 14.9083C7.48538 14.9083 6.96654 14.8059 6.56308 14.6006L2.945 12.7577L1.45346 12L0.868077 12.2931C0.607308 12.4256 0 12.8143 0 13.5429C0 14.2714 0.607308 14.6601 0.867692 14.7921L6.56 17.6889C6.96154 17.8937 7.48231 18 8 18C8.51769 18 9.03385 17.8937 9.43769 17.6884L15.1269 14.7926C15.3892 14.6606 16 14.274 16 13.5429C16 12.8117 15.3935 12.4256 15.1292 12.2914Z" fill="#91909A"/></svg>
//-             if item.id === 'phan-mem-menu'
//-               <svg width="20" height="14" viewBox="0 0 20 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M19.375 12.625H18.268C18.5786 12.2807 18.7504 11.8333 18.75 11.3695V2.00547C18.7494 1.50693 18.5511 1.02898 18.1985 0.676462C17.846 0.32394 17.3681 0.12562 16.8695 0.125H3.13047C2.63193 0.12562 2.15398 0.32394 1.80146 0.676462C1.44894 1.02898 1.25062 1.50693 1.25 2.00547V11.3695C1.24961 11.8333 1.42138 12.2807 1.73203 12.625H0.625C0.45924 12.625 0.300269 12.6908 0.183058 12.8081C0.065848 12.9253 0 13.0842 0 13.25C0 13.4158 0.065848 13.5747 0.183058 13.6919C0.300269 13.8092 0.45924 13.875 0.625 13.875H19.375C19.5408 13.875 19.6997 13.8092 19.8169 13.6919C19.9342 13.5747 20 13.4158 20 13.25C20 13.0842 19.9342 12.9253 19.8169 12.8081C19.6997 12.6908 19.5408 12.625 19.375 12.625Z" fill="#91909A"/></svg>
//-             if item.id === 'loai-khac-menu'
//-               <svg width="19" height="17" viewBox="0 0 19 17" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12.1277 1.00891H7.86343C7.58069 1.00891 7.30954 1.12123 7.10961 1.32116C6.90968 1.52108 6.79736 1.79224 6.79736 2.07498V15.8006C6.79736 15.836 6.8114 15.8699 6.83639 15.8949C6.86138 15.9199 6.89528 15.9339 6.93062 15.9339H13.0605C13.0959 15.9339 13.1298 15.9199 13.1548 15.8949C13.1797 15.8699 13.1938 15.836 13.1938 15.8006V2.07498C13.1938 1.79224 13.0815 1.52108 12.8815 1.32116C12.6816 1.12123 12.4105 1.00891 12.1277 1.00891Z" fill="#91909A"/><path d="M16.9249 6.33936H14.5263C14.4556 6.33936 14.3878 6.36743 14.3378 6.41742C14.2878 6.4674 14.2598 6.53519 14.2598 6.60587V15.6675C14.2598 15.7382 14.2878 15.8059 14.3378 15.8559C14.3878 15.9059 14.4556 15.934 14.5263 15.934H17.1915C17.4035 15.934 17.6069 15.8498 17.7568 15.6998C17.9068 15.5499 17.991 15.3465 17.991 15.1344V7.40543C17.991 7.12269 17.8787 6.85153 17.6788 6.6516C17.4788 6.45167 17.2077 6.33936 16.9249 6.33936Z" fill="#91909A"/><path d="M3.06607 4.20715C2.78333 4.20715 2.51217 4.31947 2.31224 4.5194C2.11232 4.71933 2 4.99048 2 5.27322V15.1344C2 15.3464 2.08424 15.5498 2.23418 15.6997C2.38413 15.8497 2.5875 15.9339 2.79955 15.9339H5.46473C5.53541 15.9339 5.6032 15.9059 5.65319 15.8559C5.70317 15.8059 5.73125 15.7381 5.73125 15.6674V4.47367C5.73125 4.40299 5.70317 4.3352 5.65319 4.28521C5.6032 4.23523 5.53541 4.20715 5.46473 4.20715H3.06607Z" fill="#91909A"/></svg>

//-           = item.title
//-           if item.subMenu.length !== 0
//-             .category-arrow
//-               <svg width="8" height="14" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M5.2745 4.6431L1.19077 0.14762C1.01158 -0.0492063 0.721263 -0.0492063 0.541619 0.14762C0.362428 0.344446 0.362428 0.664142 0.541619 0.860968L4.30143 4.99975L0.542072 9.13853C0.362881 9.33536 0.362881 9.65506 0.542072 9.85238C0.721263 10.0492 1.01203 10.0492 1.19123 9.85238L5.27495 5.35694C5.45139 5.16215 5.45139 4.83743 5.2745 4.6431Z" fill="#BDBDBD"/></svg>

//-         if item.subMenu.length !== 0
//-           ul.popover-submenu(id=`${item.id}`)
//-             each subMenu, subMenuIndex in item.subMenu
//-               li
//-                 a(href=`${item.link}`).d-flex.align-items-center.category-link
//-                   .category-icon
//-                     <svg width="6" fill="#4f4f4f" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve"><path d="M256,0C115.39,0,0,115.39,0,256s115.39,256,256,256s256-115.39,256-256S396.61,0,256,0z"/></svg>
//-                   = `Giáo trình đại cương ${subMenuIndex + 1}`
//-                   if (subMenuIndex !== 0)
//-                     .category-arrow
//-                       <svg width="8" height="14" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M5.2745 4.6431L1.19077 0.14762C1.01158 -0.0492063 0.721263 -0.0492063 0.541619 0.14762C0.362428 0.344446 0.362428 0.664142 0.541619 0.860968L4.30143 4.99975L0.542072 9.13853C0.362881 9.33536 0.362881 9.65506 0.542072 9.85238C0.721263 10.0492 1.01203 10.0492 1.19123 9.85238L5.27495 5.35694C5.45139 5.16215 5.45139 4.83743 5.2745 4.6431Z" fill="#BDBDBD"/></svg>

//-                 if (subMenuIndex !== 0)
//-                   .submenu-item
//-                     ul.submenu-list
//-                       each list in [1,2,3,4]
//-                         li.list-item
//-                           a(href="#").list-link.d-flex.align-items-center
//-                             span.link-icon
//-                               <svg  width="6" fill="#4f4f4f" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve"><path d="M256,0C115.03,0,0,115.05,0,256c0,140.97,115.05,256,256,256c140.97,0,256-115.05,256-256C512,115.03,396.95,0,256,0z M256,482C131.383,482,30,380.617,30,256S131.383,30,256,30s226,101.383,226,226S380.617,482,256,482z"/></svg>
//-                             |Giáo trình triết học

//-     li
//-       a(href="#").category-show-all.d-flex.align-items-center.justify-content-center
//-           <i class="fas fa-bars"></i>
//-           |Xem tất cả danh mục