mixin newBoxComponent(item)
  .new-box-component(class=`${item.type}`)
    .new-image 
      a(href=`${item.link}`) 
        img(src=`${item.image}`, alt="")
    .new-info 
      a(href=`${item.link}`).new-title= item.title 
      if item.time
        p.new-des.countdownJs(data-date=`${item.time}`)
      else
        p.new-des= item.des


