mixin productComponent(item)
  .product-component
    .product-image 
      a(href=`${item.link}`)
        img(src=`${item.image}`, alt="")
      .product-label(class=`${item.label.color}`)= item.label.title
      if item.type === 'product'
        if item.price.isSale
          .product-sale-label 70%

        .product-button-action.d-flex.align-items-center.justify-content-center
          button.btn Mua hàng


    //- h6.product-id SKU: 18223345
    a(href=`${item.link}`).product-title= item.title 
    //- if item.type === 'course'
    //-   .d-flex 
    //-     .product-rate.d-flex.align-items-center 
    //-       img(src="./assets/icons/icon-like-gray.svg", alt="")
    //-       |99
    .line 
    if item.price.isSale
      .d-flex.flex-wrap.product-old-price
        del= item.price.oldValue
        strong 10%
    h5.product-price= item.price.value 
    .product-tags.d-flex.flex-wrap 
      each tag in item.tags 
        .tag-item= tag